<main class="w-full h-full">
    <div class="relative w-full h-[400px] md:h-[550px] bg-[url(/bg3.jpg)] bg-cover bg-center flex justify-center items-center">
        <div class="absolute inset-0 bg-bgBrand opacity-60"></div>
        <div class="relative z-10 max-container flex justify-center items-center">
            <section class="flex flex-col font-serif text-white font-semibold gap-4">
                <p class="text-3xl md:text-5xl">{{slogan}}</p>
                <p class="text-2xl md:text-4xl">{{description}}</p>
            </section>
        </div>
    </div>
</main>
